.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f8f8fa;
}

.header-container {
  width: 100%;
}

.content-container {
  flex: 1 auto;
  overflow: auto;
  margin: 40px 40px 0px 40px;
}
