.app-container {
  background-color: #f8f8fa;
  height: 100%;
}

.header-container {
  width: 100%;
}

.content-container {
  overflow: auto;
  margin: 40px 50px 0px 50px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border: 1px solid #eaeaec; 
}
 
::-webkit-scrollbar-thumb {
  background: #bdbdc2; 
  border-radius: 8px;
}
