<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="40px"
  class="item-container"
>
  <div fxFlex="45" class="image-container">
    <img [src]="business?.image" />
  </div>

  <div fxFlex="50" fxLayout="row" class="info-container">
    <div fxFlex="50" fxLayout="row" class="address-and-contacts">
      <div fxFlex="50">
        <p class="title">Address</p>
        <p>
          {{ formattedBusinessAddress }}
        </p>
      </div>
      <div fxFlex="50">
        <p class="title">Contact</p>
        <p>{{ business?.phone }}</p>
        <p>{{ business?.email }}</p>
      </div>
    </div>

    <div fxFlex="50" fxLayout="column" class="nearby-places">
      <p class="title">Nearby Places</p>
      <div fxLayout="column" fxFlex="80" fxLayoutGap="10px">
        <div *ngFor="let place of nearbyPlacesToDisplay" class="place">
          <div fxFlex="30">{{ place.name }}</div>
          <div fxFlex="70">{{ formatNearbyPlaceDescription(place) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
